{% set jour = ansible_date_time.day | int %}
{% set heure = ansible_date_time.hour | int %}
C'est un jour {{ "impair" if jour % 2 == 1 else "pair" }} et {{ "après" if heure > 12 else "avant" }} midi.
